.field {
    margin-bottom: 20px;
}

fieldset.card-holder legend {
    font-size: 18px;
}
fieldset.card-holder input {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-clip: padding-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    font-size: 14px;
    background: #F7F7F7;
    border: 1px solid #ECECEC;
    height: 45px;
    border-radius: 2px;
    margin-bottom: 15px;
}
fieldset.card-holder input.card-number {
    padding: 0.375rem 0.75rem 0.375rem 2.75rem;
}
fieldset.card-holder fieldset.card-data > div > div:first-child {
    float: left;
    width: calc(100% - 146px);
}
fieldset.card-holder fieldset.card-data > div > div:nth-child(2) {
    float: left;
    width: 144px;
}
fieldset.card-holder .checkbox {
    margin: 15px 0;
}
fieldset.card-holder .checkbox label {
    margin: 0;
    line-height: 1;
}
fieldset.card-holder .checkbox input[type=checkbox] {
    vertical-align: middle;
    margin-top: 0;
    margin-bottom: 0;
    width: 30px;
    height: 30px;
    display: inline-block;
}
fieldset.card-holder input.card-number {
    width: calc(100% - 15px);
}
fieldset.card-holder input.card-cvc {
    width: 58px;
    float: left;
    margin-left: 0.75rem;
}
fieldset.card-holder input.card-expiry {
    width: 75px;
    float: right;
    margin: 0 0 0 10px;
}
.payment-forms fieldset.card-holder input.card-expiry {

    margin: 0 0 0 0px;
}
.payment-forms fieldset legend{
    color: rgb(84, 97, 109);
    font-weight: 700;
    font-size: .875rem;
}

fieldset.card-data .card-number-input{
    position: relative;
}
fieldset.card-data .card-number-input img {
    position: absolute;
    left: 2px;
    top: 10px;
    display: none;
}
fieldset.card-data .card-number-input img#card{
    display: block;
}
.helcim-cont{
    color: green;
}
.helcim-error{
    color: red;
}